@model IEnumerable<DeliverySystem.Models.Delivery>
@{
    ViewData["Title"] = "Deliveries";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.AverageForAmount;
}
<h2>Deliveries</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimatedWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<center><p style="color:blue; font-size:large;">Some statistics for Admin</p></center>
@if (User.IsInRole("Administrator"))
{
    <table class="table table-bordered table-striped table-hover">
        <thead class="label-info">
            <tr>
                <th>Amount</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr>
                    <td>@item.Word</td>
                    <td>@item.Count</td>
                </tr>
            }
        </tbody>
    </table>
}